body {
  font-family: Arial, sans-serif;
  margin: 2rem;
  background-color: #000000;
  color: #ffffff;
}

header {
    text-align: center;
    margin-bottom: 2rem;
}
h1 {
    margin-bottom: 0.5rem;
}
section {
    margin-bottom: 2rem;
}
    
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

nav a {
  text-decoration: none;
  color: #007acc;
}

nav a:hover {
  text-decoration: underline;
}